@font-face {
  font-family: 'Adelle Sans';
  src: url('AdelleSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('AdelleSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AdelleSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('AdelleSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AdelleSans-Regular.svg#88d442e0cdd4640325fec34cfd8dd028') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

