// @import "./components/work.scss";
// @import "./components/particle.scss";
// @import "./components/properties.scss";

$color-green: #BEF03E;

@font-face {
  font-family: 'Adelle Sans';
  src: url('../../fonts/AdelleSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/AdelleSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/AdelleSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/AdelleSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/AdelleSans-Regular.svg#88d442e0cdd4640325fec34cfd8dd028') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Adelle Sans';
  src: url('../../fonts/AdelleSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/AdelleSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/AdelleSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/AdelleSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/AdelleSans-Bold.svg#2d546e14fd484986647adb533612e561') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Impact';
  src: url('../../fonts/Impact.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Impact.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Impact.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Impact.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Impact.svg#21f59b54f62b5b8b4bc0f63f0f617fc1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

//overriding JS zoom
.reveal .slides {
	// zoom: 1 !important
}
.reveal .slides section {
	text-align: left;
}

.reveal .emojicon {
	font-family: sans-serif;
	text-shadow: none;
}

.animated-gradient {
	background: linear-gradient(135deg, #2980b9 0%,#9B59B6 100%);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.reveal pre {
	box-shadow: none;
	// font-size: .4em;
}
.reveal {
	  background-color: #FAFAFA;
	.stack {
		position: relative;
		min-height: 400px;
	}
	.stack__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	color: #000;
	text-transform: none;
	font-weight: inherit;
	line-height: 1;
	font-family: 'Adelle Sans', 'helvetica', sans-serif;
}

.reveal { font-size: 32px; }
.reveal h1 { font-size: 3.77em; }
.reveal h2 { font-size: 2.11em;	}
.reveal h3 { font-size: 1.55em;	}
.reveal h4 { font-size: 1em;	}

// .reveal h1 {
// 	text-align: center;
// 	margin: 0 auto;
// 	display: block;
// }
.reveal li h3 {
	font-size: 50px;
}
.reveal h2 a {
	color: inherit;
	&:hover {
		color: darken($color-green, 10%);
	}
}
.text-img.text-img.text-img.text-img {
	margin: 0;
	background: none;
	border: none;
	box-shadow: none;
	vertical-align: middle;
}
h2 .text-img {
	height: 2.11em;
}
h1 .text-img {
	height: 3.77em;
	&:after {
		content: initial;
	}
}

canvas {
	visibility: visible !important;
	opacity: 0.1;
	transition: opacity 0.2s;
}
canvas.out {
	opacity: 0;
	transition: opacity 0.2s;
}

canvas.force-visible {
	opacity: 1 !important;
	transition: opacity 0.6s;
}

.js-random-anim span {
	display: inline-block;
	// opacity: 0;
}
.img--expandable {
	background: white !important;
}
.img--expandable:hover {
	transform: scale(1.5)translateY(-25%);
}
body {
	// background: linear-gradient(135deg, #2980b9 0%,#9B59B6 100%);
}

h1, .alpha {
	position: relative;
	width: auto;
  	display: inline-block;
  	text-align: center;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 5px;
		z-index: -1;
		width: 100%;
		height: 10px;
		background-color: $color-green;

	}
	// padding-bottom: 4px;
}
.no-underline {
	&:after {
		background-color: transparent;
	}
}
.reveal .meme {
	font-family: 'Impact' !important;
	font-size: 5em;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	left: 0;
	top: 55vh;
	&:after {
		display: none;
	}
}
h2, .beta {
	text-align: left;
}

.text-center {
	text-align: center !important;
}
.color-white {
	color: #fff !important;
}
.list-heading {
	position: relative;
	// padding-bottom: 0.05em !important;
	color: red;
	// border-bottom: 5px solid $color-green !important;
	width: auto;
	display: inline-block;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 3px;
		z-index: -1;
		width: 100%;
		height: 5px;
		background-color: $color-green;

	}
}
.reveal ul {
	// list-style-type: none !important;
	list-style-type: none;
	margin: 0;
	padding-top: 40px;
	// border-top: 10px solid black;
	// border-top: 5px solid black;
	// border-top: 5px solid $color-green;
	width: 100%;
	// width: auto;
	li {
		margin-bottom: 40px
	}
}
.reveal .embed {
	width: 100%;
	height: 60vh;
	max-width: none;

	&--full {
		position: absolute;
		top: -624%;
		left: -10%;
		height: 100vh;
		max-height: none;
		width: 100vw;
		&-shim {
			height: 99vh;
		}
	}
}

.text-left {
	text-align: left;
}
// .reveal section img.img--big {
// 	margin: 15px 0px;
// 	background: rgba(255,255,255,0.12);
// 	border: 4px solid $mainColor;

// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

// 	-webkit-transition: all .2s linear;
// 	   -moz-transition: all .2s linear;
// 	    -ms-transition: all .2s linear;
// 	     -o-transition: all .2s linear;
// 	        transition: all .2s linear;
// }

.iframe-lock iframe {
	pointer-events: none;
}
.video-bg {
	background-color: rgba(0,0,0,0.9) !important;
}

//hide gui by default 
.dg.ac {
	display: none;
	&.show {
		display: block;
	}
}
.relative-full {
	position: relative;
	width: 100%;
	height: 100%;
}
.bottom {
	position: absolute;
	bottom: 0;
}
.bottom--left {
	left: 0;
}
.bottom--right {
	right: 0;
}
.bottom--center {
	left: 50%;
	transform: translateX(-50%);
}

//thanks
.thanks path {
	fill: none;
	stroke-width: 3;
	stroke: white;
	stroke-linejoin: round;
}
.thanks .draw {
	stroke-dashoffset: 0;
}
.t__stick {
	stroke-dasharray: 140px;
	stroke-dashoffset: 140px;
}
.t__hat {
	stroke-dasharray: 210px;
	stroke-dashoffset: 210px;
}
.hanks {
	stroke-dasharray: 1300px;
	stroke-dashoffset: 1300px;
}
.expl__dot {
	stroke-dasharray: 20px;
	stroke-dashoffset: 20px;
}
.expl__stroke {
	stroke-dasharray: 100px;
	stroke-dashoffset: 100px;
}
.underline {
	stroke-dasharray: 370px;
	stroke-dashoffset: 370px;
}