@import "./components/work.scss";
@import "./components/particle.scss";
@import "./components/properties.scss";

$color-green: #BEF03E;

.reveal .emojicon {
	font-family: sans-serif;
	text-shadow: none;
}

.animated-gradient {
	background: linear-gradient(135deg, #2980b9 0%,#9B59B6 100%);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.reveal pre {
	box-shadow: none;
	// font-size: .4em;
}
.reveal {
	.stack {
		position: relative;
		min-height: 400px;
	}
	.stack__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.js-random-anim span {
	display: inline-block;
	// opacity: 0;
}
.img--expandable {
	background: white !important;
}
.img--expandable:hover {
	transform: scale(1.5)translateY(-25%);
}
body {
	// background: linear-gradient(135deg, #2980b9 0%,#9B59B6 100%);
}

h1, .alpha {
	position: relative;
	width: auto;
  	display: inline-block;
  	text-align: center;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 5px;
		z-index: -1;
		width: 100%;
		height: 10px;
		background-color: $color-green;

	}
	// padding-bottom: 4px;
}
.reveal .meme {
	font-family: 'impact' !important;
	font-size: 5em;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	width: 100%;
	left: 0;
	top: 900%;
	&:after {
		display: none;
	}
}
h2, .beta {
	text-align: left;
}

.reveal ul {
	// list-style-type: none !important;
	list-style-type: none;
	margin: 0;
	padding-top: 40px;
	border-top: 10px solid black;
	width: 100%;
	li {
		margin-bottom: 40px
	}
}
.reveal .embed {
	width: 100%;
	height: 60vh;
}

.text-left {
	text-align: left;
}
// .reveal section img.img--big {
// 	margin: 15px 0px;
// 	background: rgba(255,255,255,0.12);
// 	border: 4px solid $mainColor;

// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

// 	-webkit-transition: all .2s linear;
// 	   -moz-transition: all .2s linear;
// 	    -ms-transition: all .2s linear;
// 	     -o-transition: all .2s linear;
// 	        transition: all .2s linear;
// }

//thanks
.thanks path {
	fill: none;
	stroke-width: 3;
	stroke: white;
	stroke-linejoin: round;
}
.thanks .draw {
	stroke-dashoffset: 0;
}
.t__stick {
	stroke-dasharray: 140px;
	stroke-dashoffset: 140px;
}
.t__hat {
	stroke-dasharray: 210px;
	stroke-dashoffset: 210px;
}
.hanks {
	stroke-dasharray: 1300px;
	stroke-dashoffset: 1300px;
}
.expl__dot {
	stroke-dasharray: 20px;
	stroke-dashoffset: 20px;
}
.expl__stroke {
	stroke-dasharray: 100px;
	stroke-dashoffset: 100px;
}
.underline {
	stroke-dasharray: 370px;
	stroke-dashoffset: 370px;
}